UPDATE listit set nnhnaopepl=nnhnaopepl * 0.9375,
                  nnhnaopesk=nnhnaopesk * 0.9375,
				  nnmnaopepl=nnmnaopepl * 0.9375,  
  				  nnmnaopesk=nnmnaopesk * 0.9375,
  				  nkcnaopepl=nkcnaopepl * 0.9375,  
  				  nkcnaopesk=nkcnaopesk * 0.9375 where cobdobi='04/14'  
