//  select * from listit where cobdobi='06/14' 
//  select * from listit where cobdobi='06/14' and cciszakaz='7667'   
    select * from listhd where cciszakaz='7667'
//    select * from poloper where cciszakaz='7667'
	