update pozemky set cku_Kod   = '609391', cku_Nazev = 'Brankovice'       where contains(pozemky.ckatastr, '*bra*');  
update pozemky set cku_Kod   = '615161', cku_Nazev = 'Bučovice'         where contains(pozemky.ckatastr, '*buč*'); 
update pozemky set cku_Kod   = '615170', cku_Nazev = 'Vícemilice'       where contains(pozemky.ckatastr, '*vic*') or contains(pozemky.ckatastr, '*víc*');
update pozemky set cku_Kod   = '627305', cku_Nazev = 'Dobročkovice'     where contains(pozemky.ckatastr, '*dobr*'); 
update pozemky set cku_Kod   = '650145', cku_Nazev = 'Nové Hvězdlice'   where contains(pozemky.ckatastr, '*hvě*'); 
update pozemky set cku_Kod   = '659240', cku_Nazev = 'Uhřice'           where contains(pozemky.ckatastr, '*uhř*'); 
update pozemky set cku_Kod   = '667820', cku_Nazev = 'Kojátky'          where contains(pozemky.ckatastr, '*koj*'); 
update pozemky set cku_Kod   = '669652', cku_Nazev = 'Koryčany-Blišice' where contains(pozemky.ckatastr, '*bliš*'); 
update pozemky set cku_Kod   = '669661', cku_Nazev = 'Koryčany'         where contains(pozemky.ckatastr, '*kory*');
update pozemky set cku_Kod   = '690970', cku_Nazev = 'Malínky'          where contains(pozemky.ckatastr, '*malí*');
update pozemky set cku_Kod   = '695041', cku_Nazev = 'Milonice'         where contains(pozemky.ckatastr, '*milo*');
update pozemky set cku_Kod   = '699969', cku_Nazev = 'Mouchnice'        where contains(pozemky.ckatastr, '*mou*');
update pozemky set cku_Kod   = '703257', cku_Nazev = 'Nemotice'         where contains(pozemky.ckatastr, '*nemo*');
update pozemky set cku_Kod   = '703737', cku_Nazev = 'Nesovice-Letošov' where contains(pozemky.ckatastr, '*leto*');
update pozemky set cku_Kod   = '703745', cku_Nazev = 'Nesovice'         where contains(pozemky.ckatastr, '*neso*');
update pozemky set cku_Kod   = '704334', cku_Nazev = 'Nevojice'         where contains(pozemky.ckatastr, '*nevo*');
update pozemky set cku_Kod   = '751481', cku_Nazev = 'Snovídky'         where contains(pozemky.ckatastr, '*snov*');
