BODY {
	BACKGROUND-IMAGE: url(/images/tpagebgdark.gif); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #5a738e; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Tahoma CE",Tahoma,"Verdana CE",Verdana,"Arial CE","Helvetica CE",Arial,Helvetica,sans-serif; COLOR: #424242; FONT-SIZE: 0.75em; PADDING-TOP: 0px; _padding: 0 6px 0 6px; _background-image: url(/images/tpagebglight.gif)
}
TD {
	FONT-SIZE: 1em; voice-family: inherit
}
TH {
	FONT-SIZE: 1em; voice-family: inherit
}
.tfake {
	
}
A:link {
	COLOR: #1a8b00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #1a8b00; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #1a8b00; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #66cc33
}
H1 {
	
}
H2 {
	
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 20px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #1060b8; FONT-SIZE: 1.3em; PADDING-TOP: 0px
}
H4 {
	MARGIN: 0.7em 0px 0.2em; COLOR: #1060b8; FONT-SIZE: 1.1em
}
H5 {
	MARGIN: 0.7em 0px 0.2em; COLOR: #1060b8; FONT-SIZE: 1.1em; FONT-WEIGHT: normal
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-SIZE: 11px
}
SELECT {
	FONT-SIZE: 11px
}
P {
	TEXT-ALIGN: justify; PADDING-BOTTOM: 0px; MARGIN: 0.2em 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	VERTICAL-ALIGN: top
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: square
}
LI {
	MARGIN: 0.2em 0px 0px 2em
}
THEAD {
	DISPLAY: table-header-group
}
TEXTAREA {
	FONT-FAMILY: "Tahoma CE",Tahoma,"Verdana CE",Verdana,"Arial CE","Helvetica CE",Arial,Helvetica,sans-serif; FONT-SIZE: 1em
}
.indent {
	TEXT-INDENT: 2em
}
.notopmargin {
	MARGIN-TOP: 0px !important
}
.topmargin1em {
	MARGIN-TOP: 1em !important
}
.topmargin2em {
	MARGIN-TOP: 2em !important
}
.bottommargin1em {
	MARGIN-BOTTOM: 1em !important
}
.bottommargin2em {
	MARGIN-BOTTOM: 2em !important
}
.bold {
	FONT-WEIGHT: bold !important
}
.nobold {
	FONT-WEIGHT: normal !important
}
.noborder {
	BORDER-BOTTOM-STYLE: none !important; BORDER-LEFT-STYLE: none !important; BORDER-TOP-STYLE: none !important; BORDER-RIGHT-STYLE: none !important
}
.nowrap {
	WHITE-SPACE: nowrap
}
.sedytxt {
	COLOR: #424242 !important
}
.bluetxt {
	COLOR: #1060b8 !important
}
.green {
	COLOR: #1a8b00 !important
}
.odsazeno {
	MARGIN-LEFT: 30px
}
.center {
	TEXT-ALIGN: center; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.right {
	TEXT-ALIGN: right
}
INPUT.itext {
	BORDER-BOTTOM: #bdc3cc 1px solid; BORDER-LEFT: #bdc3cc 1px solid; HEIGHT: 16px; BORDER-TOP: #bdc3cc 1px solid; BORDER-RIGHT: #bdc3cc 1px solid
}
.fullbanner IMG {
	MARGIN: 0px auto 3px
}
.fullbanner OBJECT {
	MARGIN: 0px auto 3px
}
.fullbanner TABLE {
	MARGIN: 0px auto 3px
}
.fullbanner IFRAME {
	MARGIN: 0px auto 3px
}
.rectangle200x100 {
	MARGIN: 2px auto; WIDTH: 200px; OVERFLOW: hidden
}
.square250 {
	BACKGROUND-COLOR: white; DISPLAY: block; FLOAT: right
}
.square250 IMG {
	MARGIN: 2px 2px 7px 10px
}
.square250 OBJECT {
	MARGIN: 2px 2px 7px 10px
}
.square250 TABLE {
	MARGIN: 2px 2px 7px 10px
}
.square250 IFRAME {
	MARGIN: 2px 2px 7px 10px
}
.skyscraper {
	PADDING-BOTTOM: 7px; BACKGROUND-COLOR: white; PADDING-LEFT: 10px; WIDTH: 120px; PADDING-RIGHT: 2px; FLOAT: right; HEIGHT: 600px; CLEAR: right; PADDING-TOP: 0px
}
TABLE.xtable {
	MARGIN-BOTTOM: 5px; TABLE-LAYOUT: auto
}
TABLE.xtable TH {
	BORDER-BOTTOM: #65a2e0 1px dotted; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 3px
}
TABLE.xtable TD {
	BORDER-BOTTOM: #65a2e0 1px dotted; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 3px
}
TABLE.xnolines TD {
	BORDER-BOTTOM-WIDTH: 0px
}
TABLE.xnolines TH {
	BORDER-BOTTOM-WIDTH: 0px
}
TABLE.xtable TH {
	TEXT-ALIGN: center; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold
}
TABLE.xtable TR.xthr TD {
	TEXT-ALIGN: center; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold
}
TABLE.xtable TR.xthr A {
	COLOR: white
}
TABLE.xtable TR.xlr TD {
	BORDER-BOTTOM: #65a2e0 2px solid
}
TABLE.xtable TR.xlr TH {
	BORDER-BOTTOM: #65a2e0 2px solid
}
TABLE.xtable TR TD.xfc {
	BORDER-LEFT: #65a2e0 2px solid; PADDING-BOTTOM: 3px !important; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px !important; WIDTH: 8px; PADDING-RIGHT: 4px !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; OVERFLOW: hidden; PADDING-TOP: 3px !important
}
TABLE.xtable TR TD.xlc {
	PADDING-BOTTOM: 3px !important; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px !important; WIDTH: 8px; PADDING-RIGHT: 4px !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; OVERFLOW: hidden; BORDER-RIGHT: #65a2e0 2px solid; PADDING-TOP: 3px !important
}
TABLE.xtable TR.xthr TD {
	BACKGROUND-COLOR: #65a2e0; BORDER-BOTTOM-WIDTH: 0px; COLOR: white; BORDER-TOP: #2074cc 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT: #2074cc 1px solid
}
TABLE.xtable TR.xthr TH {
	BACKGROUND-COLOR: #65a2e0; BORDER-BOTTOM-WIDTH: 0px; COLOR: white; BORDER-TOP: #2074cc 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT: #2074cc 1px solid
}
TABLE.xtable TR.xthr TD.xfc {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xthr TD.xlc {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xfthr TH {
	BORDER-TOP-WIDTH: 0px
}
TABLE.xtable TR.xfthr TD {
	BORDER-TOP-WIDTH: 0px
}
TABLE.xtable TR.xthr TH.xplc {
	BORDER-RIGHT-WIDTH: 0px
}
TABLE.xtable TR.xthr TD.xplc {
	BORDER-RIGHT-WIDTH: 0px
}
TABLE.xtable TR.xfthr TD.xfc {
	BACKGROUND-IMAGE: url(/images/xtable_xfthr_xfc.gif)
}
TABLE.xbn TR.xfthr TD.xfc {
	BACKGROUND-IMAGE: url(/images/xtable_xbn_xfthr_xfc.gif)
}
TABLE.xtable TR.xfthr TD.xlc {
	BACKGROUND-IMAGE: url(/images/xtable_xfthr_xlc.gif)
}
TABLE.xbn TR.xfthr TD.xlc {
	BACKGROUND-IMAGE: url(/images/xtable_xbn_xfthr_xlc.gif)
}
TABLE.xtable TR.xftd TD.xfc {
	BACKGROUND-IMAGE: url(/images/xtable_xftd_xfc.gif); BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xftd TD.xlc {
	BACKGROUND-IMAGE: url(/images/xtable_xftd_xlc.gif); BORDER-RIGHT-WIDTH: 0px
}
TABLE.xtable TR.xlr TD.xfc {
	BACKGROUND-IMAGE: url(/images/xtable_xlr_xfc.gif); BORDER-RIGHT-WIDTH: 0px; BACKGROUND-POSITION: left bottom; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xlr TD.xlc {
	BACKGROUND-IMAGE: url(/images/xtable_xlr_xlc.gif); BORDER-RIGHT-WIDTH: 0px; BACKGROUND-POSITION: right bottom; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xnr TD {
	BORDER-BOTTOM: #2074cc 2px solid; TEXT-ALIGN: center !important; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #2074cc; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #1a75c3; BORDER-TOP: #2074cc 2px solid; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
TABLE.xtable TR.xnr TD.xfc {
	BACKGROUND-IMAGE: url(/images/xtable_xnr_xfc.gif); BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xnr TD.xlc {
	BACKGROUND-IMAGE: url(/images/xtable_xnr_xlc.gif); BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable DIV.xnd {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: white; MARGIN: 0px auto; PADDING-LEFT: 20px; WIDTH: 50%; PADDING-RIGHT: 20px; PADDING-TOP: 3px
}
TABLE.xtable IMG.xsa {
	PADDING-LEFT: 6px
}
TABLE.xtable TR.xlr TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xlr TABLE TR TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR.xlr TABLE TR TH {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR TABLE TR TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.xtable TR TABLE TR TH {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
INPUT.btnblue {
	BACKGROUND-IMAGE: url(/images/btnbgblue.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btnblue {
	BACKGROUND-IMAGE: url(/images/btnbgblue.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btnblue:link {
	BACKGROUND-IMAGE: url(/images/btnbgblue.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btnblue:active {
	BACKGROUND-IMAGE: url(/images/btnbgblue.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btnblue:visited {
	BACKGROUND-IMAGE: url(/images/btnbgblue.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btnblue:hover {
	BACKGROUND-IMAGE: url(/images/btnbgblue.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
INPUT.btngreen {
	BACKGROUND-IMAGE: url(/images/btnbggreen.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btngreen {
	BACKGROUND-IMAGE: url(/images/btnbggreen.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btngreen:link {
	BACKGROUND-IMAGE: url(/images/btnbggreen.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btngreen:active {
	BACKGROUND-IMAGE: url(/images/btnbggreen.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btngreen:visited {
	BACKGROUND-IMAGE: url(/images/btnbggreen.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btngreen:hover {
	BACKGROUND-IMAGE: url(/images/btnbggreen.gif); TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; WIDTH: 104px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #ffffff; FONT-SIZE: 10px !important; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.btnblue {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btnblue:link {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btnblue:active {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btnblue:visited {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btnblue:hover {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btngreen {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btngreen:link {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btngreen:active {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btngreen:visited {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
A.btngreen:hover {
	LINE-HEIGHT: 21px; DISPLAY: block; FONT-SIZE: 10px; _display: inline-block
}
.tall {
	BACKGROUND-IMAGE: url(/images/tpagebglight.gif); MIN-WIDTH: 790px; TEXT-ALIGN: left; PADDING-BOTTOM: 6px; MARGIN: auto; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; MAX-WIDTH: 1100px; PADDING-TOP: 6px; _padding: 0; _background: transparent
}
.ttop {
	BACKGROUND-IMAGE: url(/images/ttopbg.gif); POSITION: relative; MIN-HEIGHT: 79px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; _height: 79px
}
.ttop .ttopleft {
	BACKGROUND-IMAGE: url(/images/ttopleftbg.gif); POSITION: relative; WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 79px; TOP: 0px; LEFT: 0px
}
.ttop .ttoplogo {
	POSITION: relative; MARGIN: 5px 20px 5px 0px; FLOAT: left
}
.ttop .ttopbanner {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 5px; FONT-SIZE: 1px
}
.ttop .ttopbanner TABLE {
	TEXT-ALIGN: left; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.tmainmenu {
	BACKGROUND-IMAGE: url(/images/tmainmenubgright.gif); POSITION: relative; BACKGROUND-COLOR: #2074c2; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; HEIGHT: 29px; COLOR: #ffffff
}
.tmainmenu A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tmainmenu A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tmainmenu A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tmainmenu A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tmainmenu A:hover {
	TEXT-DECORATION: underline
}
.tmainmenu .menuitem {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 32px; FLOAT: left; HEIGHT: 29px; OVERFLOW: hidden
}
.tmainmenu .menuitem10 {
	BACKGROUND-IMAGE: url(/images/menubg1_0.gif); TEXT-ALIGN: right; WIDTH: 87px
}
.tmainmenu .menuitem11 {
	BACKGROUND-IMAGE: url(/images/menubg1_1.gif); TEXT-ALIGN: right; WIDTH: 87px; FONT-WEIGHT: bold
}
.tmainmenu .menuitem20 {
	BACKGROUND-IMAGE: url(/images/menubg2_0.gif); WIDTH: auto; _width: 45px
}
.tmainmenu .menuitem21 {
	BACKGROUND-IMAGE: url(/images/menubg2_1.gif); WIDTH: auto; FONT-WEIGHT: bold; _width: 48px
}
.tmainmenu .mezi00 {
	BACKGROUND-IMAGE: url(/images/menubgmezi_00.gif); WIDTH: 25px
}
.tmainmenu .mezi10 {
	BACKGROUND-IMAGE: url(/images/menubgmezi_10.gif); WIDTH: 25px
}
.tmainmenu .mezi1r {
	BACKGROUND-IMAGE: url(/images/menubgmezi_1r.gif); WIDTH: 25px
}
.tmainmenu .mezi01 {
	BACKGROUND-IMAGE: url(/images/menubgmezi_01.gif); WIDTH: 25px
}
.tmainmenu .mezi0r {
	BACKGROUND-IMAGE: url(/images/menubgmezi_0r.gif); WIDTH: 25px
}
.tmainmenu .mezirr {
	BACKGROUND-IMAGE: url(/images/menubgmezi_rr.gif); WIDTH: 25px
}
.tmainmenu .menureklama {
	BACKGROUND-IMAGE: url(/images/menubg_reklama.gif); PADDING-LEFT: 3px; WIDTH: auto; PADDING-RIGHT: 2px; BACKGROUND-POSITION: right top; _width: 105px
}
.tmainmenu .menureklama A:hover {
	TEXT-DECORATION: none
}
.tmainmenu .konec0 {
	BACKGROUND-IMAGE: url(/images/menubgend_0.gif); WIDTH: 25px
}
.tmainmenu .konec1 {
	BACKGROUND-IMAGE: url(/images/menubgend_1.gif); WIDTH: 25px
}
.tmainmenu .konecreklama {
	BACKGROUND-IMAGE: url(/images/menubgend_reklama.gif); WIDTH: 25px
}
.tmenu2 {
	BACKGROUND-IMAGE: url(/images/menu2hpbg.gif); POSITION: relative; BACKGROUND-COLOR: #26ae00; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; FLOAT: none; HEIGHT: 28px; CLEAR: both; FONT-SIZE: 0.95em
}
.tmenu2 A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tmenu2 A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tmenu2 A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tmenu2 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tmenu2 A:hover {
	TEXT-DECORATION: underline
}
.tmenu2 .menu2item {
	POSITION: relative; LINE-HEIGHT: 26px; FLOAT: left; HEIGHT: 28px
}
.tmenu2 .menu2item10 {
	BACKGROUND-IMAGE: url(/images/menu2bgleft.gif); PADDING-LEFT: 10px; BACKGROUND-REPEAT: no-repeat
}
.tmenu2 .menu2item11 {
	BACKGROUND-IMAGE: url(/images/menu2bgfirstitem.gif); PADDING-LEFT: 10px; COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item20 {
	
}
.tmenu2 .menu2item21 {
	BACKGROUND-IMAGE: url(/images/menu2bg1.gif); COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item11 A {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item11 A:link {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item11 A:visited {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item11 A:active {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item11 A:hover {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item21 A {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item21 A:link {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item21 A:visited {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item21 A:active {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2item21 A:hover {
	COLOR: #1a8b00 !important; FONT-WEIGHT: bold
}
.tmenu2 .menu2mezi10 {
	BACKGROUND-IMAGE: url(/images/menu2bgmezi10.gif); WIDTH: 20px
}
.tmenu2 .menu2mezi01 {
	BACKGROUND-IMAGE: url(/images/menu2bgmezi01.gif); WIDTH: 20px
}
.tmenu2 .menu2mezi00 {
	WIDTH: 20px
}
.tmainbox {
	BACKGROUND-IMAGE: url(/images/tfooter1lc.gif); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #2074c2; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; PADDING-TOP: 0px
}
TABLE.tmainlayout {
	
}
TD.tmainlayoutpravytd {
	BORDER-LEFT: #2074c2 2px solid; WIDTH: 214px; VERTICAL-ALIGN: top
}
TD.tmainlayoutlevytd {
	VERTICAL-ALIGN: top
}
.tmainleftcol {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(/images/tgreyendbg.gif) #ffffff no-repeat left bottom; VERTICAL-ALIGN: top; PADDING-TOP: 0px !important
}
.tmainrightcol {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 214px; PADDING-RIGHT: 0px; FONT-SIZE: 0.9em; PADDING-TOP: 0px
}
.tmainrightcol .tmrcodsaz {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.tmainrightcol P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.tmainrightcol .h2 {
	BACKGROUND-IMAGE: url(/images/tmrch2bg.gif); PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #2074c2; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; COLOR: #ffffff; FONT-SIZE: 1em; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.tmainrightcol .h2 A {
	COLOR: white; TEXT-DECORATION: none
}
.tmainrightcol .h2 A:link {
	COLOR: white; TEXT-DECORATION: none
}
.tmainrightcol .h2 A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.tmainrightcol .h2 A:active {
	COLOR: white; TEXT-DECORATION: none
}
.tmainrightcol .h2 A:hover {
	COLOR: white; TEXT-DECORATION: none
}
TABLE.trightform {
	POSITION: relative; BACKGROUND-COLOR: #e7eaf1; WIDTH: 214px; TABLE-LAYOUT: auto; HEIGHT: 32px
}
TABLE.trightform TD {
	TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
TABLE.trightform INPUT.text {
	BORDER-BOTTOM: #bdc3cc 1px solid; BORDER-LEFT: #bdc3cc 1px solid; WIDTH: 88px; HEIGHT: 16px; FONT-SIZE: 11px; BORDER-TOP: #bdc3cc 1px solid; BORDER-RIGHT: #bdc3cc 1px solid
}
TABLE.trightform INPUT.tsearchtext {
	MARGIN-TOP: 5px; WIDTH: 200px
}
TABLE.trightform INPUT.tsearchbtn {
	MARGIN: 3px 5px 5px 0px; FLOAT: right
}
.trejstriksel {
	TEXT-ALIGN: center; MARGIN: 4px auto
}
.trejstriksel SELECT {
	BORDER-BOTTOM: #bdc3cc 1px solid; BORDER-LEFT: #bdc3cc 1px solid; WIDTH: 190px; FONT-SIZE: 11px; BORDER-TOP: #bdc3cc 1px solid; BORDER-RIGHT: #bdc3cc 1px solid
}
.trightgreystrip {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #e7eaf1; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; HEIGHT: 32px; PADDING-TOP: 0px
}
TABLE.anketa {
	MARGIN: 5px 0px; WIDTH: 150px; TABLE-LAYOUT: auto
}
TABLE.anketa TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px
}
TABLE.anketa TD.pravy {
	TEXT-ALIGN: right
}
TABLE.anketa .modrypruh {
	BACKGROUND-COLOR: #1060b8; HEIGHT: 6px; OVERFLOW: hidden
}
TABLE.anketa .zelenypruh {
	BACKGROUND-COLOR: #1a8b00; HEIGHT: 6px; OVERFLOW: hidden
}
TABLE.anketa .sedypruh {
	BACKGROUND-COLOR: #6f7b8c; HEIGHT: 6px; OVERFLOW: hidden
}
TABLE.anketa .bordered {
	BORDER-BOTTOM: #424242 1px dotted
}
.tfloatend {
	POSITION: relative; WIDTH: 1px; FLOAT: none; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden
}
.todsazbody {
	POSITION: relative; PADDING-BOTTOM: 5px; MIN-HEIGHT: 750px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; MARGIN-LEFT: 24px; PADDING-TOP: 0px; _height: 760px
}
.tnadpis {
	BACKGROUND-IMAGE: url(/images/tnadpisbg.gif); POSITION: relative; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #caebc1; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 56px; COLOR: #1a8b00; PADDING-TOP: 1px
}
.tnadpisnocorner {
	BACKGROUND-POSITION: right top
}
.tnadpis H1 {
	PADDING-BOTTOM: 0px; MARGIN: 24px 0px 0px 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.3em; PADDING-TOP: 0px
}
.tnadpistlacitka {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 24px; FLOAT: right; PADDING-TOP: 24px
}
.tmainleftcol .tpodnadpis {
	BACKGROUND-IMAGE: url(/images/tpodnadpisbgleft.gif); POSITION: relative; BACKGROUND-REPEAT: no-repeat
}
.tmainleftcol .tpodnadpis H2 {
	PADDING-BOTTOM: 13px; MARGIN-TOP: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 12px; COLOR: #ffffff; FONT-SIZE: 1.2em; PADDING-TOP: 5px
}
.tmainleftcol .tpodnadpis .tpodnadpisrbg {
	BACKGROUND-IMAGE: url(/images/tpodnadpisbgright.gif); POSITION: absolute; WIDTH: 21px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; HEIGHT: 33px; OVERFLOW: hidden; RIGHT: 0px; TOP: 0px
}
.tgreyend {
	BACKGROUND-IMAGE: url(/images/tgreyendbg.gif); POSITION: relative; TEXT-ALIGN: right; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #e7eaf1; MARGIN-TOP: 10px; PADDING-LEFT: 24px; PADDING-RIGHT: 12px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left bottom; CLEAR: both; PADDING-TOP: 6px
}
.tfooter1 {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 26px; FLOAT: none; HEIGHT: 26px; COLOR: #7aa9d4; CLEAR: both
}
.tfooter1 A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter1 A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter1 A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter1 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter1rc {
	BACKGROUND-IMAGE: url(/images/tfooter1rc.gif); POSITION: absolute; WIDTH: 7px; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right bottom; HEIGHT: 5px; RIGHT: -3px
}
.tfooter2 {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 26px; FLOAT: none; HEIGHT: 26px; COLOR: #ffffff; CLEAR: both; FONT-SIZE: 0.9em
}
.tfooter2 A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter2 A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter2 A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfooter2 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
UL.trcul {
	MARGIN-BOTTOM: 10px
}
UL.trcul LI {
	MARGIN-TOP: 8px
}
.twidthspacer {
	LINE-HEIGHT: 1px; FONT-SIZE: 1px
}
.label {
	VERTICAL-ALIGN: middle
}
.validator {
	VERTICAL-ALIGN: middle
}
.value {
	VERTICAL-ALIGN: middle
}
.label {
	FONT-WEIGHT: bold
}
.tuserpanel .trcul {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px
}
.tuserpanel .trcul LI {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px
}
.trupb {
	TEXT-ALIGN: center; COLOR: red; FONT-WEIGHT: bold
}
