insert into KALENDAR (DDATUM,NDEN,NTYDEN,NMESIC,NOBDOBI,NROK,nRokObd,cObdobi,NPOLOLETI,NCTVRTLETI,NDENVROCE,
                      NDENVTYDNU,CNAZDNE,CNAZMES,CZKRNAZDNE,CSVATJMENO,CTYPDNE,NDENKALEND,NDENPRACOV,NDENSVATEK,
                      NDENVTYDPO,NTYDVMES,NTYDVMESPO,NTYPVMES,NTYPVMESPO,DPLATN_OD,DPLATN_DO) 
         select DDATUM,NDEN,NTYDEN,NMESIC,NOBDOBI,NROK,nRokObd,cObdobi,NPOLOLETI,NCTVRTLETI,NDENVROCE,
                      NDENVTYDNU,CNAZDNE,CNAZMES,CZKRNAZDNE,CSVATJMENO,CTYPDNE,NDENKALEND,NDENPRACOV,NDENSVATEK,
                      NDENVTYDPO,NTYDVMES,NTYDVMESPO,NTYPVMES,NTYPVMESPO,DPLATN_OD,DPLATN_DO
		 from kalendar_