update listit set listit.cnazpol1 = '' where listit.noscisprac >= 9000 and listit.noscisprac <= 9999  ; 
update listit set listit.cnazpol1 = msprc_md.cnazpol1 from msprc_md where listit.noscisprac = msprc_md.noscisprac  