BODY {
	
}
FORM {
	MARGIN: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; LETTER-SPACING: -1pt; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Arial; MARGIN-BOTTOM: 8px; COLOR: black; FONT-SIZE: 8pt; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-LEFT: 0px; LETTER-SPACING: 0pt; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Arial; COLOR: black; FONT-SIZE: 9pt; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.button {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; LETTER-SPACING: 0pt; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Arial; COLOR: black; FONT-SIZE: 10pt; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-TOP: 0px
}
TD {
	MARGIN: 0px; FONT-FAMILY: Arial CE,Arial
}
.H0 {
	BORDER-BOTTOM: #ff99ff 0px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 20px; FONT-STYLE: normal; MARGIN-TOP: 0px; PADDING-LEFT: 0px; LETTER-SPACING: -2pt; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana; MARGIN-BOTTOM: 0px; COLOR: #bae2ed; FONT-SIZE: 20pt; VERTICAL-ALIGN: middle; BORDER-TOP: #ff99ff 0px solid; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.H1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; LETTER-SPACING: -1pt; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana; COLOR: #bae2ed; FONT-SIZE: 14pt; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.H2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; LETTER-SPACING: -1pt; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana; COLOR: #bae2ed; FONT-SIZE: 14pt; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.H3 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; FONT-STYLE: normal; PADDING-LEFT: 0px; FONT-FAMILY: Verdana; COLOR: #000080; FONT-SIZE: 13pt; VERTICAL-ALIGN: middle; FONT-WEIGHT: lighter; PADDING-TOP: 5px
}
.H4 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #ffccff; MARGIN-TOP: 10px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: Arial CE,Arial; MARGIN-BOTTOM: 0px; COLOR: #ffffff; FONT-SIZE: 12pt; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 1px
}
.H4_T {
	BORDER-BOTTOM: #ffccff 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ffccff 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #ddffff; MARGIN-TOP: 10px; PADDING-LEFT: 6px; PADDING-RIGHT: 2px; FONT-FAMILY: Arial CE,Arial; MARGIN-BOTTOM: 0px; COLOR: #000080; FONT-SIZE: 11pt; VERTICAL-ALIGN: top; BORDER-TOP: #ffccff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffccff 1px solid; PADDING-TOP: 1px
}
.H5 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial CE,Arial; COLOR: black; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.H5_T {
	TEXT-ALIGN: left; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial CE,Arial; COLOR: black; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.TB {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial CE,Arial; COLOR: black; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
.T {
	TEXT-ALIGN: left; LINE-HEIGHT: 120%; FONT-FAMILY: Arial CE,Arial; COLOR: black; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
.tabulka {
	TEXT-ALIGN: left
}
.N {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 120%; FONT-STYLE: italic; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial CE,Arial; COLOR: #333333; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 120%; FONT-STYLE: italic; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial CE,Arial; COLOR: #333333; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.C {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 120%; FONT-STYLE: italic; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial CE,Arial; COLOR: #333333; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.G {
	TEXT-ALIGN: left; BORDER-LEFT: #800000 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 120%; BACKGROUND-COLOR: #efefef; FONT-STYLE: normal; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: Arial CE,Arial; COLOR: black; FONT-SIZE: 10pt; BORDER-TOP: white 2px solid; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.space {
	FONT-FAMILY: Arial CE,Arial; FONT-SIZE: 20%
}
.menu {
	BORDER-BOTTOM: #bae2ed 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #bae2ed 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Arial; MARGIN-BOTTOM: 0px; HEIGHT: 16px; COLOR: #000066; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; BORDER-TOP: white 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #bae2ed 1px solid; PADDING-TOP: 0px
}
.menu_down {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ddffff; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Arial; MARGIN-BOTTOM: 0px; COLOR: #000066; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.pata {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,Arial; MARGIN-BOTTOM: 0px; COLOR: #cccccc; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; BORDER-TOP: #ffccff 1px solid; FONT-WEIGHT: normal; PADDING-TOP: 10px
}
.navigace {
	BORDER-BOTTOM: #ffccff 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ffccff 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ddffff; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana,Arial; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 0px; COLOR: #84cbdf; FONT-SIZE: 10pt; BORDER-TOP: #ddffff 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ffccff 1px solid; PADDING-TOP: 0px
}
BR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.pic {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; PADDING-TOP: 0px
}
CODE {
	FONT-SIZE: 18pt
}
A {
	
}
.mkn:active {
	BORDER-BOTTOM: #0000cc 1px dotted; COLOR: #0000cc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.mkn:visited {
	BORDER-BOTTOM: #0000cc 1px dotted; COLOR: #0000cc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.mkn:link {
	BORDER-BOTTOM: #0000cc 1px dotted; COLOR: #0000cc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.mkn:hover {
	BORDER-BOTTOM: #0000cc 1px solid; COLOR: #0000cc; TEXT-DECORATION: none
}
.m:visited {
	COLOR: #2cabca; TEXT-DECORATION: none
}
.m:link {
	COLOR: #2cabca; TEXT-DECORATION: none
}
.m:hover {
	COLOR: #000066; TEXT-DECORATION: underline
}
.navig:link {
	COLOR: #000066; TEXT-DECORATION: none
}
.navig:visited {
	COLOR: #000066; TEXT-DECORATION: none
}
.navig:hover {
	COLOR: #000066; TEXT-DECORATION: underline
}
