update fakvysit set cucetskup='18' where csklpol='777.1-1'  ;
update ucetpol  set cucetskup='18' where csklpol='777.1-1'  ;
update fakvysit set cucetskup='18' where csklpol='777.1-2'  ;
update ucetpol  set cucetskup='18' where csklpol='777.1-2'  ;
update ucetpol  set cucetskup='19' where csklpol='777.251-E1'  ;
update ucetpol  set cucetskup='19' where csklpol='777.251-E2'  ;
update fakvysit set cucetskup='16' where csklpol='777.251-1'  ;
update ucetpol  set cucetskup='16' where csklpol='777.251-1'  ;
update ucetpol  set cucetmd='604283' where csklpol='777.251-1' and cucetmd='648224' ;
update ucetpol  set cucetdal='604283' where csklpol='777.251-1' and cucetdal='648224' ;
update fakvysit set cucetskup='16' where csklpol='88835 1' and nrok=2019  ;
update ucetpol  set cucetskup='16' where csklpol='88835 1' and nrok=2019  ;
update pvpitem  set cucetskup='16' where csklpol='88835 1' and nrok=2019  ;
update pvpitem  set nucetskup=16   where csklpol='88835 1' and nrok=2019  ;