select * from ucetpol where cucetmd = '311110' and nkcmd = 0.30 ;
//select sum(nkcmd) from ucetpol where cucetmd = '311110' and cobdobi = '10/19'  
//select sum(nkcmd) from ucetpol where cucetdal = '311110' and cobdobi = '10/19'
//select sum(nkcdalobro) from ucetkum where cucetmd = '311110' and cobdobi = '10/19'
//delete from ucetkum where cobdobi='10/19'
//delete from ucetkumu where cobdobi='10/19'
//delete from ucetkumk where cobdobi='10/19'
select sum(nkcmd) from ucetpol__ where cucetmd = '311110' and cobdobi = '10/19'  