update ucetpol set csymbol='5201612' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=1   ;
update ucetpol set csymbol='5201701' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=2   ;
update ucetpol set csymbol='5201702' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=3   ;
update ucetpol set csymbol='5201703' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=4   ;
update ucetpol set csymbol='5201704' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=5   ;
update ucetpol set csymbol='5201705' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=6   ;
update ucetpol set csymbol='5201706' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=7   ;
update ucetpol set csymbol='5201707' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=8   ;
update ucetpol set csymbol='5201708' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=9   ;
update ucetpol set csymbol='5201709' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=10  ;
update ucetpol set csymbol='5201710' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=11  ;
update ucetpol set csymbol='5201711' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2017 and nobdobi=12  ;
update ucetpol set csymbol='5201712' where cdenik='B' and (Left(cucetmd,3)='325' or Left(cucetdal,3)='325') and nrok=2018 and nobdobi=1   ;