update prsmldoh set prsmldoh.cjmenoRozl = msprc_mo.cjmenoRozl,prsmldoh.nosoby = msprc_mo.nosoby from msprc_mo where prsmldoh.noscisprac = msprc_mo.noscisprac and prsmldoh.nosoby=0 and msprc_mo.cobdobi='12/12'
