//select * from pvpitem where cvyrpol = '591 32 01n' and nrok=2018 and nobdobi = 1
//select sum(ncenacelk) from pvpitem where cvyrpol = '591 32 01n' and nrok=2018 and nobdobi = 1 

select * from pvpitem where left(cciszakazi,9) = '511 37 01' and nrok=2018 and nobdobi = 12
//select sum(ncenacelk) from pvpitem where left(cciszakazi,9) = '511 37 01' and nrok=2018 and nobdobi = 12