insert into DRUHYMZD
        ( ctask,cUloha,cObdobi,nRok,nObdobi,nRokObd,nDruhMzdy,CTYPDOKLAD,CTYPPOHYBU,CUCETSKUP,cNazevDMz,cNazev2DMz,cZkratDMZ,
          cTypDMz,lUctuj,lVypocHM,lHODzDNU,nTypDovol,lAutoVypHM,nAutVypHM,nNulVypHM,nSazbaVyHM,nTypVypHM,nNapocHm,nNapocPrHm,nNapocHVpr,
          nRidZnak_1,nRidZnak_2,cRZn1_VyHm,cRZn2_VyHm,cRZn3_VyHm,cRZn4_VyHm,nKoe1_VyHm,nKoe2_VyHm,nKoe3_VyHm,nKoe4_VyHm,nKoefPreHM,
          nDruhMzPRE,nTypVypPRE,nKodZaokr,cZkrTrvPla,nNapocetCM,nTypDane,lSocPojis,lZdrPojis,lHrubaMzda,lDanZaklad,lZakSrazky,
          lVypocCM,lOdbory,lVylouDoba,lVyloDobOD,lNapEvidLi,Rz_Dny,Rz_Hod,Rz_Kcs,Dny,Hodiny,Hruba_mzda,P_KcsNemoc,P_KcsPracP,
          P_KcsPohSl,P_KcsHoPrP,P_KcsPresc,P_HodPrPra,P_DnyOdpDn,lNapPrCelO,nAlgCelOdm,nPocMesPr,cPolVyplPa,lPlanDleSK,lDMzDoNOR,
          lNmDleHD,cDrMzdISO,lVyrobKs,lHotovKs,lHotovKc,lHotovNH,lNeSumHmSe,mBlock,mZauctDMzd )
select
          ctask,cUloha,'01/13',2013,01,201301,nDruhMzdy,CTYPDOKLAD,CTYPPOHYBU,CUCETSKUP,cNazevDMz,cNazev2DMz,cZkratDMZ,
          cTypDMz,lUctuj,lVypocHM,lHODzDNU,nTypDovol,lAutoVypHM,nAutVypHM,nNulVypHM,nSazbaVyHM,nTypVypHM,nNapocHm,nNapocPrHm,nNapocHVpr,
          nRidZnak_1,nRidZnak_2,cRZn1_VyHm,cRZn2_VyHm,cRZn3_VyHm,cRZn4_VyHm,nKoe1_VyHm,nKoe2_VyHm,nKoe3_VyHm,nKoe4_VyHm,nKoefPreHM,
          nDruhMzPRE,nTypVypPRE,nKodZaokr,cZkrTrvPla,nNapocetCM,nTypDane,lSocPojis,lZdrPojis,lHrubaMzda,lDanZaklad,lZakSrazky,
          lVypocCM,lOdbory,lVylouDoba,lVyloDobOD,lNapEvidLi,Rz_Dny,Rz_Hod,Rz_Kcs,Dny,Hodiny,Hruba_mzda,P_KcsNemoc,P_KcsPracP,
          P_KcsPohSl,P_KcsHoPrP,P_KcsPresc,P_HodPrPra,P_DnyOdpDn,lNapPrCelO,nAlgCelOdm,nPocMesPr,cPolVyplPa,lPlanDleSK,lDMzDoNOR,
          lNmDleHD,cDrMzdISO,lVyrobKs,lHotovKs,lHotovKc,lHotovNH,lNeSumHmSe,mBlock,mZauctDMzd
from DRUHYMZD_
 