update pvpitem set ncenacelk = ucetpol.nkcmd from ucetpol 
   where pvpitem.ndoklad=ucetpol.ndoklad and pvpitem.norditem=ucetpol.norditem and
          ucetpol.norducto=1 and (pvpitem.ndoklad=2121010576 or pvpitem.ndoklad=2121021105 or pvpitem.ndoklad=2121010577 or pvpitem.ndoklad=2121021106 or pvpitem.ndoklad=2121021107 or pvpitem.ndoklad=2121021108 or pvpitem.ndoklad=2121021109 or pvpitem.ndoklad=2121030263 or pvpitem.ndoklad=2121010578 or pvpitem.ndoklad=2121030264 or pvpitem.ndoklad=2121030265 or pvpitem.ndoklad=2121030266 or pvpitem.ndoklad=2121030267 or pvpitem.ndoklad=2121030268 or pvpitem.ndoklad=2121030269)