INSERT INTO FAKVYSIT (
cUloha,nCisFirmy,nCisFirDoA,cObdobi,nROK,nOBDOBI,nDOKLAD,nCisFak,nCisloDL,nCountDL,nCISLOEL,nPOLEL,nCisloDD,nCISLOPVP,cZkrTypFak,nIntCount,nsubCount,
cCisSklad,cSklPol,CTYPSKLPOL,cPolCen,cNazZbo,CUCETSKUP,nCenJedZak,nCenJedZaD,nCenZakCel,nCenZakCeD,nCenZahCel,nJEDDAN,nSazDan,nsazDan_Z,nFaktMnoz,
cZkratJedn,nFaktMno2,cZkratJed2,nKlicDph,nProcDPH,nNAPOCET,nNullDPH,nKodPlneni,nTypPrep,nVYPSAZDAN,nRadVykDph,cDoplnTxt,NPREDANPOV,ntypPreDan,nProcDPHpp,
nNAPOCETpp,cCisObj,cCislObInt,nCisloOBJP,NCISLPOLOB,nMNOZreodb,nCisPenFak,nCelPenFak,nCenPenCel,dSplatFak,dVystFak,dPosUhrFak,nUhrCelFaZ,nPen_Odb,
nCisFak_Or,cZkrTyp_Or,nKlicNS,cNazPol1,cNazPol2,cNazPol3,cNazPol4,cNazPol5,cNazPol6,nTypSlevy,nProcSlev,nProcSlFaO,nProcSlMn,nHodnSlev,nCenaZakl,
nCenaZakC,nCelkSlev,nKasa,cZkrProdej,cUcet,cUCET_pucR,cUCET_pucS,nDokladORG,nUcetSkup,nZboziKat,nPodilProd,cDenik,nCisZalFAK,nIsParZal,nRECfaz,
nRECpar,nRECdol,nRECpen,nRECvyr,nRECobj,nKlicOBL,nCenasZBO,NMNOZSZBO,NCENACZBO,mPozZBO,nFAKTm_ORG,nORDIT_PVP,cCISZAKAZ,cCisZakazI,cSKP,cdanPzbo,
nIND_ceo,lIND_mod,nCISLOkusu,mDOLcis,aULOZENI,cTypSKp,nKoefMn,nFaktMnKOE,nCeJPrZBZ,nCeJPrKBZ,nCeJPrKDZ,nCeJPrZDZ,nCeCPrZBZ,nCeCPrKBZ,nCeCPrKDZ,
NHMOTNOSTJ,nHmotnost,cZkratJedH,NOBJEMJ,nObjem,cZkratJedO,lSLUZBA,nKLikvid,nZLikvid,nCisVYSFAK,dVykladky,cCasVyklad,cfile_iv,nMnoz_FAKT,nstav_FAKT,
nMnoz_DLVY,nMnoz_EXPL,nMnoz_ZAK,ccarKod_1,ccarKod_2,ccarKod_3,nMnoz_NABV,nStav_NABV,nMnoz_FAKV,nStav_FAKV,nMnoz_DLV,nStav_DLV,nMnoz_OBJP,nStav_OBJP,
nMnoz_EXLV,nStav_EXLV,nMnoz_VYRZ,nStav_VYRZ,nMnoz_KSMV,nStav_KSMV,nMnoz_SVYD,nStav_SVYD,nMnoz_OBJV,nStav_OBJV,nMnozZdok,mapolSest,nPARzalFAK,
nPARzahFAK,ccistrasyp,ccistrasys,dVznikZazn,dZmenaZazn,mPoznamka,mUserZmenR)
SELECT 
cUloha,nCisFirmy,nCisFirDoA,cObdobi,nROK,nOBDOBI,nDOKLAD,nCisFak,nCisloDL,nCountDL,nCISLOEL,nPOLEL,nCisloDD,nCISLOPVP,cZkrTypFak,nIntCount,nsubCount,
cCisSklad,cSklPol,CTYPSKLPOL,cPolCen,cNazZbo,CUCETSKUP,nCenJedZak,nCenJedZaD,nCenZakCel,nCenZakCeD,nCenZahCel,nJEDDAN,nSazDan,nsazDan_Z,nFaktMnoz,
cZkratJedn,nFaktMno2,cZkratJed2,nKlicDph,nProcDPH,nNAPOCET,nNullDPH,nKodPlneni,nTypPrep,nVYPSAZDAN,nRadVykDph,cDoplnTxt,NPREDANPOV,ntypPreDan,nProcDPHpp,
nNAPOCETpp,cCisObj,cCislObInt,nCisloOBJP,NCISLPOLOB,nMNOZreodb,nCisPenFak,nCelPenFak,nCenPenCel,dSplatFak,dVystFak,dPosUhrFak,nUhrCelFaZ,nPen_Odb,
nCisFak_Or,cZkrTyp_Or,nKlicNS,cNazPol1,cNazPol2,cNazPol3,cNazPol4,cNazPol5,cNazPol6,nTypSlevy,nProcSlev,nProcSlFaO,nProcSlMn,nHodnSlev,nCenaZakl,
nCenaZakC,nCelkSlev,nKasa,cZkrProdej,cUcet,cUCET_pucR,cUCET_pucS,nDokladORG,nUcetSkup,nZboziKat,nPodilProd,cDenik,nCisZalFAK,nIsParZal,nRECfaz,
nRECpar,nRECdol,nRECpen,nRECvyr,nRECobj,nKlicOBL,nCenasZBO,NMNOZSZBO,NCENACZBO,mPozZBO,nFAKTm_ORG,nORDIT_PVP,cCISZAKAZ,cCisZakazI,cSKP,cdanPzbo,
nIND_ceo,lIND_mod,nCISLOkusu,mDOLcis,aULOZENI,cTypSKp,nKoefMn,nFaktMnKOE,nCeJPrZBZ,nCeJPrKBZ,nCeJPrKDZ,nCeJPrZDZ,nCeCPrZBZ,nCeCPrKBZ,nCeCPrKDZ,
NHMOTNOSTJ,nHmotnost,cZkratJedH,NOBJEMJ,nObjem,cZkratJedO,lSLUZBA,nKLikvid,nZLikvid,nCisVYSFAK,dVykladky,cCasVyklad,cfile_iv,nMnoz_FAKT,nstav_FAKT,
nMnoz_DLVY,nMnoz_EXPL,nMnoz_ZAK,ccarKod_1,ccarKod_2,ccarKod_3,nMnoz_NABV,nStav_NABV,nMnoz_FAKV,nStav_FAKV,nMnoz_DLV,nStav_DLV,nMnoz_OBJP,nStav_OBJP,
nMnoz_EXLV,nStav_EXLV,nMnoz_VYRZ,nStav_VYRZ,nMnoz_KSMV,nStav_KSMV,nMnoz_SVYD,nStav_SVYD,nMnoz_OBJV,nStav_OBJV,nMnozZdok,mapolSest,nPARzalFAK,
nPARzahFAK,ccistrasyp,ccistrasys,dVznikZazn,dZmenaZazn,mPoznamka,mUserZmenR
FROM FAKVYSIT_ 