INSERT INTO vyrpol (ctask,cSubje,nZakazVP,cCisZakaz,cVyrPol,nVarCis,cVarPop,cCisSklad,cSklPol,cNazPol2,
                    cTypPol,cSkuPol,cNazev,cZkratJEDN,cStrVyr,cStrOdv,cCisVyk,nEkDav,nCisHm,cStav,cStavRV,
                     nKusyPas,nStrizPl,nMnZadVA,nMnZadVK,cVysPol,cNizPol,mPopisVP,cZmenaK,dZmenaK,cZmenaT,
                      dZmenaT,cZapis,dZapis,nStavKalk,lExistKUS,lExistOPE,nCisNabVys,nIntCount,cNazVyk)                            
        SELECT ctask,cSubje,nZakazVP,cCisZakaz,cVyrPol,nVarCis,cVarPop,cCisSklad,cSklPol,cNazPol2,
                    cTypPol,cSkuPol,cNazev,cZkratJEDN,cStrVyr,cStrOdv,cCisVyk,nEkDav,nCisHm,cStav,cStavRV,
                     nKusyPas,nStrizPl,nMnZadVA,nMnZadVK,cVysPol,cNizPol,mPopisVP,cZmenaK,dZmenaK,cZmenaT,
                      dZmenaT,cZapis,dZapis,nStavKalk,lExistKUS,lExistOPE,nCisNabVys,nIntCount,cNazVyk
             FROM vyrpol_