INSERT INTO ucetkum (
  cObdobi,nRok,nObdobi,cUcetMD,cUcetTR,cUcetSK,cUcetSY,cNazPol1,cNazPol2,cNazPol3,cNazPol4,
  cNazPol5,cNazPol6,nKcMDpsO,nKcDALpsO,nKcMDobrO,nKcDALobrO,nKcMDpsR,nKcDALpsR,nKcMDobrR,
  nKcDALobrR,nKcMDksR,nKcDALksR,nMnozNat,nMnozNat2,nMNOZnatR,nMNOZnat2R,nAKTUc_cnt,cUserAbb,
  dDatZmeny,cCasZmeny,dVznikZazn,dZmenaZazn,mPOZNAMKA,mUserZmenR)
        SELECT cObdobi,nRok,nObdobi,cUcetMD,cUcetTR,cUcetSK,cUcetSY,cNazPol1,cNazPol2,cNazPol3,cNazPol4,
  cNazPol5,cNazPol6,nKcMDpsO,nKcDALpsO,nKcMDobrO,nKcDALobrO,nKcMDpsR,nKcDALpsR,nKcMDobrR,
  nKcDALobrR,nKcMDksR,nKcDALksR,nMnozNat,nMnozNat2,nMNOZnatR,nMNOZnat2R,nAKTUc_cnt,cUserAbb,
  dDatZmeny,cCasZmeny,dVznikZazn,dZmenaZazn,mPOZNAMKA,mUserZmenR
          FROM ucetkum_