INSERT INTO kusov (cSubje,cCisZakaz,cVysPol,cNizPol,nNizVar,cSklPol,nPozice,nVarPoz,dPlaOd,dPlaDo,nCiMno,
                        nCiMnoVyk,nSpMno,cZkratJEDN,cMjTpv,cMjSpo,cKodPoz,nCisOper,nUkonOper,nVarOper,nRozmA,
                         nRozmB,nKusRoz,nKusPod,nNavysPRC,cStav,dZapis,cZapis,dZmenaT,cZmenaT,dZmenaK,cZmenaK,
                          cCislObINT,nCislPolOb,cText1,cText2,nMnZadVAvp,mKusov,nPridUp,nVahaMJ,nSpMnSklHR,
                           nSpMnSklCI,cIndexPoz,cSklOdp_1,cPolOdp_1,cNazOdp_1,nProcOdp_1,nMnozOdp_1,
                            cSklOdp_2,cPolOdp_2,cNazOdp_2,nProcOdp_2,nMnozOdp_2,nCenMAT_MJ,
                             dVznikZazn,dZmenaZazn,mUserZmenR)
        SELECT cSubje,cCisZakaz,cVysPol,cNizPol,nNizVar,cSklPol,nPozice,nVarPoz,dPlaOd,dPlaDo,nCiMno,
                        nCiMnoVyk,nSpMno,cZkratJEDN,cMjTpv,cMjSpo,cKodPoz,nCisOper,nUkonOper,nVarOper,nRozmA,
                         nRozmB,nKusRoz,nKusPod,nNavysPRC,cStav,dZapis,cZapis,dZmenaT,cZmenaT,dZmenaK,cZmenaK,
                          cCislObINT,nCislPolOb,cText1,cText2,nMnZadVAvp,mKusov,nPridUp,nVahaMJ,nSpMnSklHR,
                           nSpMnSklCI,cIndexPoz,cSklOdp_1,cPolOdp_1,cNazOdp_1,nProcOdp_1,nMnozOdp_1,
                            cSklOdp_2,cPolOdp_2,cNazOdp_2,nProcOdp_2,nMnozOdp_2,nCenMAT_MJ,
                             dVznikZazn,dZmenaZazn,mUserZmenR
             FROM kusov_