INSERT INTO FAKVYSHD (
      cUloha,CTASK,CSUBTASK,CTYPDOKLAD,CTYPPOHYBU,cObdobi,nROK,nOBDOBI,nDoklad,nCisFak,nCISLODL,nCISLOEL,nCISLOPVP,cVarSym,cObdobiDan,CSTADOKLAD,cZkrTypFak,
      nTypPoh,cZkrTypUhr,nOsvOdDan,nZaklDan01,nZaklDan02,nPROCdan_1,nZaklDan_1,nSazDan_1,nZAKLdar_1,nSAZdar_1,nZAKLdaz_1,nSAZdaz_1,nPROCdan_2,nZaklDan_2,
      nSazDan_2,nZAKLdar_2,nSAZdar_2,nZAKLdaz_2,nSAZdaz_2,nCenZakCel,nCENfakCEL,nCENfazCEL,nCenDanCel,nZustPoZao,nKodZaokr,nKodZaokrD,cZkratMeny,
      nCenZahCel,cZkratMenZ,nKurZahMen,nMnozPrep,nKonstSymb,cSpecSymb,nCisFirmy,cNazev,cNazev2,nIco,cDic,cUlice,cSidlo,cPsc,cUcet,nCisFirDOA,cNazevDOA,
      cNazevDOA2,cUliceDOA,cSidloDOA,cPscDOA,cPrijemce1,cPrijemce2,cZkrZpuDop,dSplatFak,dVystFak,dPovinFak,dDatTisk,cPrizLikv,nLikCelFak,dPosLikFak,
      nUhrCelFak,nUhrCelFaZ,nKurzROZDf,dPosUhrFak,nPARzalFAK,nPARzahFAK,dPARzalFAK,cBank_Uct,cVnBan_Uct,nCisPenFak,dDatPenFAK,nPen_Odb,nVYPpenODB,
      nCisUpomin,dUpominky,nCisDobFak,lHlasFak,cCisObj,cCislObInt,nCisFak_Or,cTypFak_Or,nCisUzv,dDatUzv,nTypSlevy,nProcSlev,nProcSlFaO,nProcSlHot,
      nHodnSlev,nCenaZakl,nKasa,cZkrProdej,cDenik,cUcet_Uct,cDENIK_puc,cUCET_pucR,cUCET_pucS,cUCET_daz,cZkratStat,nFinTyp,nKlicOBL,nDOKLAD_DL,
      nDOKLAD_PV,cJMENOvys,cOBDOBIo,nHmotnost,cZkratJedH,nObjem,cZkratJedO,nKLikvid,nZLikvid,mPopisFAK,lNo_InDPH,mDOLFAKcis,lIsZAHR,nFAKDOLcis,
      cCISZAKAZ,cTYPzak,cSTRED_odb,cSTROJ_odb,nPorCisLis,nOsCisPrac,cSPZ,vlekSPZ,cjmenoRid,cCisloOP,ccistrasyp,ccistrasys,cVYPsazDAN,cIsZAL_FAK,
      nKontVykMn,nStav_NABV,nStav_FAKV,nStav_DLV,nStav_OBJP,nStav_EXLV,nStav_VYRZ,nStav_KSMV,nStav_SVYD,dVznikZazn,dZmenaZazn,mPoznamka,mUserZmenR)
 SELECT
      cUloha,CTASK,CSUBTASK,CTYPDOKLAD,CTYPPOHYBU,cObdobi,nROK,nOBDOBI,nDoklad,nCisFak,nCISLODL,nCISLOEL,nCISLOPVP,cVarSym,cObdobiDan,CSTADOKLAD,cZkrTypFak,
      nTypPoh,cZkrTypUhr,nOsvOdDan,nZaklDan01,nZaklDan02,nPROCdan_1,nZaklDan_1,nSazDan_1,nZAKLdar_1,nSAZdar_1,nZAKLdaz_1,nSAZdaz_1,nPROCdan_2,nZaklDan_2,
      nSazDan_2,nZAKLdar_2,nSAZdar_2,nZAKLdaz_2,nSAZdaz_2,nCenZakCel,nCENfakCEL,nCENfazCEL,nCenDanCel,nZustPoZao,nKodZaokr,nKodZaokrD,cZkratMeny,
      nCenZahCel,cZkratMenZ,nKurZahMen,nMnozPrep,nKonstSymb,cSpecSymb,nCisFirmy,cNazev,cNazev2,nIco,cDic,cUlice,cSidlo,cPsc,cUcet,nCisFirDOA,cNazevDOA,
      cNazevDOA2,cUliceDOA,cSidloDOA,cPscDOA,cPrijemce1,cPrijemce2,cZkrZpuDop,dSplatFak,dVystFak,dPovinFak,dDatTisk,cPrizLikv,nLikCelFak,dPosLikFak,
      nUhrCelFak,nUhrCelFaZ,nKurzROZDf,dPosUhrFak,nPARzalFAK,nPARzahFAK,dPARzalFAK,cBank_Uct,cVnBan_Uct,nCisPenFak,dDatPenFAK,nPen_Odb,nVYPpenODB,
      nCisUpomin,dUpominky,nCisDobFak,lHlasFak,cCisObj,cCislObInt,nCisFak_Or,cTypFak_Or,nCisUzv,dDatUzv,nTypSlevy,nProcSlev,nProcSlFaO,nProcSlHot,
      nHodnSlev,nCenaZakl,nKasa,cZkrProdej,cDenik,cUcet_Uct,cDENIK_puc,cUCET_pucR,cUCET_pucS,cUCET_daz,cZkratStat,nFinTyp,nKlicOBL,nDOKLAD_DL,
      nDOKLAD_PV,cJMENOvys,cOBDOBIo,nHmotnost,cZkratJedH,nObjem,cZkratJedO,nKLikvid,nZLikvid,mPopisFAK,lNo_InDPH,mDOLFAKcis,lIsZAHR,nFAKDOLcis,
      cCISZAKAZ,cTYPzak,cSTRED_odb,cSTROJ_odb,nPorCisLis,nOsCisPrac,cSPZ,vlekSPZ,cjmenoRid,cCisloOP,ccistrasyp,ccistrasys,cVYPsazDAN,cIsZAL_FAK,
      nKontVykMn,nStav_NABV,nStav_FAKV,nStav_DLV,nStav_OBJP,nStav_EXLV,nStav_VYRZ,nStav_KSMV,nStav_SVYD,dVznikZazn,dZmenaZazn,mPoznamka,mUserZmenR
 FROM FAKVYSHD_ 