update druhymzd set CRZN1_VYHM = 'fSazPRM('+'"'+'nHodPrumPP'+'"'+ ')' where Replace(CRZN1_VYHM,' ','') = 'msprc_mo->nHodPrumPP'  ;
update druhymzd set CRZN1_VYHM = 'fSazPRM('+'"'+'nDenPrumPP'+'"'+ ')' where Replace(CRZN1_VYHM,' ','') = 'msprc_mo->nDenPrumPP'
