update mzdyit set mzdyit.cvyplmist=msprc_mo.cvyplmist,mzdyit.cjmenorozl=msprc_mo.cjmenorozl from msprc_mo where mzdyit.cobdobi='07/13' and
                mzdyit.croobcpppv=msprc_mo.croobcpppv
                         