//select * from ucetpol where cobdobi='06/20' and ctypuct='MZ_SOPOOZE' and (catr1='20200610629001' or catr1 = '20200611925001')
select * from ucetpol where cobdobi='06/20' and ctypuct='MZ_SOPOOZE' 
//delete from ucetpol where cobdobi='06/20' and ctypuct='MZ_SOPOOZE' and catr1 <> '20200610629001' and catr1 <> '20200611925001';
//delete from ucetpol where cobdobi='07/20' and ctypuct='MZ_SOPOOZE' and catr1 <> '20200710629001' and catr1 <> '20200711925001';
//delete from ucetpol where cobdobi='08/20' and ctypuct='MZ_SOPOOZE' and catr1 <> '20200810629001' and catr1 <> '20200811925001';
//delete from ucetpol where cobdobi='06/20' and ctypuct='MZ_SOPOOZE' and norditem > 10;
//delete from ucetpol where cobdobi='07/20' and ctypuct='MZ_SOPOOZE' and norditem > 10;
//delete from ucetpol where cobdobi='08/20' and ctypuct='MZ_SOPOOZE' and norditem > 10