update mzddavit set nhodfondpd = 0, ndnyfondpd=0  where nrok=2015 and ( ndruhmzdy=115 or ndruhmzdy = 150)   ;
update mzddavit set nhodfondpd = nhoddoklad,ndnyfondpd = ndnydoklad where nrok=2015 and ndruhmzdy=109  ;  