update vazosoby set osoby = 3 where nosoby=195  ;
update vazosoby set osoby = 3 where nosoby=196  ;
update vazosoby set osoby = 3 where nosoby=197  ;
update vazosoby set osoby = 5 where nosoby=198  ;
update vazosoby set osoby = 5 where nosoby=199  ;
update vazosoby set osoby = 5 where nosoby=73  ;
update vazosoby set osoby = 5 where nosoby=200  ;
update vazosoby set osoby = 6 where nosoby=201  ;
update vazosoby set osoby = 6 where nosoby=202  ;
update vazosoby set osoby = 19 where nosoby=203  ;
update vazosoby set osoby = 19 where nosoby=204  ;
update vazosoby set osoby = 24 where nosoby=205  ;
update vazosoby set osoby = 24 where nosoby=206  ;
update vazosoby set osoby = 24  where nosoby=146  ;
update vazosoby set osoby = 42 where nosoby=82  ;
update vazosoby set osoby = 42 where nosoby=207  ;
update vazosoby set osoby = 139 where nosoby=134  ;
update vazosoby set osoby = 59 where nosoby=208  ;
