update mzddavit set mzddavit.nmzdyit = 0   ;
update mzddavit set mzddavit.nmzdyit = mzdyit.sid from mzdyit where mzddavit.croobcpppv = mzdyit.croobcpppv and mzddavit.ndruhmzdy = mzdyit.ndruhmzdy and mzddavit.ndruhmzdy < 399     