select sum(nmzda) from mzdyit where ( ndruhmzdy >= 500 and ndruhmzdy <> 500 and ndruhmzdy <> 501 and ndruhmzdy <> 504 and ndruhmzdy <> 505
and ndruhmzdy <> 523 and ndruhmzdy <> 530 and ndruhmzdy <> 531 and ndruhmzdy <> 532
and ndruhmzdy <> 535 and ndruhmzdy <> 568 and ndruhmzdy <> 571 and ndruhmzdy <> 576 
and ndruhmzdy <= 599 ) and cobdobi='02/16' 