update msprc_mo set msprc_mo.nzaokrna10=0 where msprc_mo.cobdobi='05/13'  ; 
update msprc_mo set msprc_mo.nzaokrna10=mzdyit.nmzda from mzdyit where msprc_mo.cobdobi='05/13' and msprc_mo.croobcpppv=mzdyit.croobcpppv and mzdyit.ndruhmzdy=595
