INSERT INTO DEFVYKIT( CIDvykazu,cTask,cUloha,cTypVykazu,nRadekVyk,cSkuRadVyk,cNazRadVyk,nSloupVyk,cSloupVyk,cNazSloVyk,cNazBunVyk,cSkupina1,cSkupina2,cSkupina3,
                        mVyber,mVyraz,cTextRadek,cTextSloup,cTextBunky,cTypNapVyk,cIDSysVykN,cTypKumVyk,cTypNapVyB,cIDSysVykB,cTypNapVyE,cIDSysVykE,
						nKodZaokr,nTypTisku,cTextTm1,cTextTm2,cTextTm3,
                        nDistrib,mMetodika,dVznikZazn) SELECT                                                 
CIDvykazu,cTask,cUloha,cTypVykazu,nRadekVyk,cSkuRadVyk,cNazRadVyk,nSloupVyk,cSloupVyk,cNazSloVyk,cNazBunVyk,cSkupina1,cSkupina2,cSkupina3,
                        mVyber,mVyraz,cTextRadek,cTextSloup,cTextBunky,cTypNapVyk,cIDSysVykN,cTypKumVyk,cTypNapVyB,cIDSysVykB,cTypNapVyE,cIDSysVykE,
						nKodZaokr,nTypTisku,cTextTm1,cTextTm2,cTextTm3,
                        nDistrib,mMetodika,dVznikZazn FROM DEFVYKIT_
